<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        <div class="footer-logo"></div>
        <div>
          <p class="footer-p">Ми в соц. мережах:</p>
          <ul class="footer-network">
            <li class="footer-network__item">
              <svg class="footer-icon">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
              Instagram
            </li>
            <li class="footer-network__item">
              <svg class="footer-icon">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
              Facebook
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <div>
          <p class="footer-title">Сторінки</p>
          <div class="footer-page">
            <ul>
              <li class="footer-item">Бізнесу</li>
              <li class="footer-item"><a href="">Податкові справи</a></li>
              <li class="footer-item"><a href="">Господарські спори</a></li>
              <li class="footer-item"><a href="">Реєстрація ТОВ</a></li>
              <li class="footer-item">
                <a href="">Ліквідація підприємства</a>
              </li>
            </ul>
            <ul>
              <li class="footer-item"><a href="">Приватним особам</a></li>
              <li class="footer-item"><a href="">Сімейні справи</a></li>
              <li class="footer-item"><a href="">Спадкові справи</a></li>
              <li class="footer-item"><a href="">Майнові справи</a></li>
              <li class="footer-item"><a href="">Справи по нерухомост</a></li>
            </ul>
          </div>
          <div>
            <ul class="footer-nav">
              <li class="footer-nav__item"><a href="">Ціни</a></li>
              <li class="footer-nav__item"><a href="">Контакти</a></li>
              <li class="footer-nav__item"><a href="">Судова практика</a></li>
              <li class="footer-nav__item"><a href="">Блог</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-contacts">
          <p class="footer-title">Зв’язок</p>
          <ul class="footer-list">
            <li class="footer-item">Email</li>
            <li class="footer-item"><a href="">adv.gorbay@gmail.com</a></li>
          </ul>
          <ul class="footer-list">
            <li class="footer-item">Телефон</li>
            <li class="footer-item">+38(096)372-43-00</li>
          </ul>
          <ul class="footer-list">
            <li class="footer-item time">Робочі години:</li>
            <li class="footer-item">Пон - П’ят 9:00 - 19:00</li>
            <li class="footer-item">Суб - Нед 9:00 - 17:00</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom__p">
        2023 Lawyer Roman Gorbay. All right reserved.
      </p>
      <ul class="footer-privacy">
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
