<header class="header">
  <div class="contact-wrap">
    <div class="container">
      <load ="partials/navigation.html" />
      <ul class="contact-list">
        <li class="contact-list__item">Звяжіться з нами:</li>
        <li class="contact-list__item">
          <a class="contact-list__link" href="tel:+38(096)372-43-00">
            <svg class="contact-list_icon" width="18px" height="18px">
              <use href="../img/icons.svg#icon-phone"></use>
            </svg>
            +38(096)372-43-00
          </a>
        </li>
        <li class="contact-list__item">
          <a class="contact-list__link" href="mailto:adv.gorbay@gmail.com">
            <svg class="contact-list_icon" width="18px" height="18px">
              <use href="../img/icons.svg#icon-envelope"></use>
            </svg>
            adv.gorbay@gmail.com
          </a>
        </li>
        <li class="contact-list__item">
          <a class="contact-list__link" href="">
            <svg class="contact-list_icon" width="18px" height="18px">
              <use href="../img/icons.svg#icon-telegram"></use>
            </svg>
            Telegram
          </a>
        </li>
        <li class="contact-list__item">
          <a class="contact-list__link" href="">
            <svg class="contact-list_icon" width="18px" height="18px">
              <use href="../img/icons.svg#icon-viber"></use>
            </svg>
            Viber
          </a>
        </li>
        <li class="contact-list__item">
          <a class="contact-list__link" href="">
            <svg class="contact-list_icon" width="18px" height="18px">
              <use href="../img/icons.svg#icon-whatsapp"></use>
            </svg>
            WhatsApp
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
