<section class="hero">
  <div class="container">
    <div class="hero-container">
    <h5 class="hero-subtitle">Адвокат м.Львів</h5>
    <h1 class="hero-title">Кваліфікована прaвова допомога</h1>
    <p class="hero-text">
      <span class="hero-subtext">Адвокат Горбай Роман Степанович</span> здійснює
      адвокатську практику на підставі свідоцтва про право на зайняття
      адвокатською діяльністю № 1391 від 24 вересня 2008року. Загальний
      юридичний стаж адвоката становить більше сімнадцяти років, понад
      дванадцять з яких – адвокатська практика.
    </p>
    <div class="hero-wrapper_button">
      <button class="hero-button">Записатись на консультацію</button>
      <button class="hero-button blog">Блог</button>
    </div>
  </div>
  </div>

</section>

  <section class="privateperson">
    <div class="container">
    <h2 class="ourclients-title">Приватним особам</h2>
    <ul class="ourclients-list">
      <li class="ourclientsn-item">
        <img
          src="../img/image7.png"
          alt="Сімейні справи"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Сімейні справи</h4>
        <p class="ourclients-text">
          Сімейні спори відносяться до конфліктних та емоційних категорій справ,
          оскільки сторонами конфлікту виступають пов’язані родинними зв’язками
          особи – чоловік і дружина, діти та батьки, інші близькі родичі
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image8.png"
          alt="Спадкові справи"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Спадкові справи</h4>
        <p class="ourclients-text">
          Одна з найскладніших сфер в юриспруденції, оскільки поєднує значну
          кількість супутніх правових категорій та взаємопов’язане з такими
          галузями права як сімейне, житлове, земельне, податкове і навіть
          корпоративне
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image10.png"
          alt="Майнові справи"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Майнові справи</h4>
        <p class="ourclients-text">
          Суспільні відносини з приводу належності, використання чи переходу
          нерухомого і рухомого майна та інших матеріальних благ від одного
          суб'єкта до іншого
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image11.png"
          alt="Справи по нерухомості"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Справи по нерухомості</h4>
        <p class="ourclients-text">
          (Купівля – продаж, міна, дарування, оренда житлових та нежитлових
          приміщень, будівель, споруд; купівля – продаж та оренда землі, тощо)
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
    </ul>
    <div class="container">
  </section>
  <section class="enterprises">
    <div class="container">
    <div class="wrap-linetop">
    <h2 class="ourclients-title">Підприємствам</h2>
    <ul class="ourclients-list">
      <li class="ourclientsn-item">
        <img
          src="../img/image12.png"
          alt="Податкові справи"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Податкові справи</h4>
        <p class="ourclients-text">
          Будь-яка податкова перевірка платника податку може закінчитися
          донарахуванням податкових зобов’язань та штрафних санкцій
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image13.png"
          alt="Господарські спори"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Господарські спори</h4>
        <p class="ourclients-text">
          Юридично грамотний супровід господарських справ є запорукою безпеки
          підприємницької діяльності юридичної особи чи підприємця
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image14.png"
          alt="Реєстрація ТОВ"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Реєстрація ТОВ</h4>
        <p class="ourclients-text">
          Товариство з обмеженою відповідальністю є найпоширенішою організаційно
          – правовою формою ведення підприємницької діяльності в Україні
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
      <li class="ourclientsn-item">
        <img
          src="../img/image15.png"
          alt="Ліквідація підприємства"
          class="ourclients-img"
        />
        <h4 class="ourclients-subtitle">Ліквідація підприємства</h4>
        <p class="ourclients-text">
          Позбутися неприбуткового чи проблемного підприємства можна
          шляхомпродажу корпоративних прав, ліквідації або банкрутства
        </p>
        <a href="" class="ourclients-link"
          >Дізнатись більше
          <svg class="ourclients-icon">
            <use href="../img/icons.svg#icon-arrow-right"></use></svg
        ></a>
      </li>
    </ul>
  </div>
  </div>
  </section>
<section class="about">
  <div class="container">
    <div class="about-wrap">
      <img class="about-img" src="../img/photo.jpg" alt="Gorbay R. S.">
    
        <div class="about-textwrap">
          <div class="about-empty">  </div>
        <h2 class="about-title">Горбай Роман Степанович</h2>
        <p class="about-text">Адвокат Горбай Роман Степанович здійснює адвокатську практику на підставі свідоцтва про право на зайняття адвокатською діяльністю № 1391 від 24 вересня 2008року. Загальний юридичний стаж адвоката становить більше сімнадцяти років, понад дванадцять з яких – адвокатська практика.</p>
        <p class="about-text">Здійснює адвокатську практику на підставі свідоцтва про право на зайняття адвокатською діяльністю № 1391 від 24 вересня 2008року. Загальний юридичний стаж адвоката становить більше сімнадцяти років, понад дванадцять з яких – адвокатська практика.</p>
        <p class="about-specialtext">Спеціалізація – судове представництво в сімейних, спадкових, цивільних та комерційних справах.</p>
    
      </div>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <h2 class="benefits-title">Чому клієнти обирають нас?</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <img src="../img/image16.png" alt="Компетентність" class="benefits-img">
        <h4 class="benefits-subtitle">Компетентність</h4>
        <p class="benefits-text">Ефективне використання набутого практичного досвіду та теоретичних знань є запорукою надання кваліфікованої правової допомоги</p>
      </li>
      <li class="benefits-item">
        <img src="../img/image17.png" alt="Досвід" class="benefits-img">
        <h4 class="benefits-subtitle">Досвід</h4>
        <p class="benefits-text">Багаторічна практика та безперервне навчання, сформували навики, що відповідають високим стандартам професії</p>
      </li>
      <li class="benefits-item">
        <img src="../img/image18.png" alt="Результат" class="benefits-img">
        <h4 class="benefits-subtitle">Результат</h4>
        <p class="benefits-text">Робота Адвоката спрямована на отримання Клієнтом прогнозованого результату, незважаючи на виникнення можливих ускладнень в процесі виконання доручення</p>
      </li>
    </ul>
  </div>
</section>
<section class="consultation">
<load ="partials/consultation.html" />
</section>
<section class="posts">
  <div class="container">
    <div class="posts-top">
      <div class="posts-left">
        <h3 class="posts-h3">Блог</h3>
        <h2 class="posts-title">Останні публікації</h2>
      </div>
      <div class="posts-left">
        <button class="posts-button">Блог
          <svg class="posts-button__icon">
            <use href="../img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="posts-list">
      <li class="posts-item">
        <div class="posts-card">
          <img src="../img/post1.jpg" alt="фото" class="posts-img">
          <div class="posts-wrap__text">
          <div class="posts-wrap_atribut">
            <p class="posts-atribut">Назва категорії</p>
            <p class="posts-atribut">9 червня 2023</p>
          </div>
          <h4 class="posts-subtitle">Четверта черга спадкоємців за законом. Як довести факт проживання однією сім’єю?</h4>
          <p class="posts-text">Коротко про спадкування за законом. Спадкуванням вважається перехід прав ...</p>
          <a href="" class="posts-link">Читати далі
            <svg class="posts-icon">
              <use href="../img/icons.svg#icon-arrow-right"></use>
            </svg></a>
          </div>
      </li>
      <li class="posts-item">
        <div class="posts-card">
          <img src="../img/post2.jpg" alt="фото" class="posts-img">
          <div class="posts-wrap__text">
          <div class="posts-wrap_atribut">
            <p class="posts-atribut">Назва категорії</p>
            <p class="posts-atribut">9 серпня 2022</p>
          </div>
          <h4 class="posts-subtitle">Поділ майна подружжя. Як поділити незавершене або самочинне будівництво?</h4>
          <p class="posts-text">Поділ спільного майна подружжя є складним і багатоаспектним процесом, особливо, ...</p>
          <a href="" class="posts-link">Читати далі
            <svg class="posts-icon">
              <use href="../img/icons.svg#icon-arrow-right"></use>
            </svg></a>
          </div>
        </div>
      </li>
      <li class="posts-item">
        <div class="posts-card">
          <img src="../img/post3.jpg" alt="фото" class="posts-img">
          <div class="posts-wrap__text">
          <div class="posts-wrap_atribut">
            <p class="posts-atribut">Назва категорії</p>
            <p class="posts-atribut">14 серпня 2021</p>
          </div>
          <h4 class="posts-subtitle">Поділ майна подружжя. Як поділити автомобіль після розлучення?</h4>
          <p class="posts-text">За роки незалежності автомобіль став більш доступним для громадян України, однак, ...</p>
          <a href="" class="posts-link">Читати далі
            <svg class="posts-icon">
              <use href="../img/icons.svg#icon-arrow-right"></use>
            </svg></a>
        </div>
      </div>
      </li>
    </ul>
  </div>
</section>