
<nav class="nav">
  <div class="nav-logo"></div>
  <ul class="nav-list">
    <li class="nav-item">
      Приватним особам
      <svg class="nav-icon">
        <use href="../img/icons.svg#icon-arrow-down"></use>
      </svg>
      <ul class="nav-drop">
        <li class="nav-drop__item"><a href="../family.html" class="nav-drop__link">Сімейні справи</a></li>
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Спадкові справи</a></li>
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Майнові справи</a></li>
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Справи по нерухомості</a></li>
      </ul>

    </li>

    <li class="nav-item">
      Бізнесу
      <svg class="nav-icon">
        <use href="../img/icons.svg#icon-arrow-down"></use>
      </svg>
      <ul class="nav-drop">
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Податкові справи</a></li>
        <li class="nav-drop__item"><a href="../economydisputes.html" class="nav-drop__link">Господарські спори</a></li>
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Реєстрація ТОВ</a></li>
        <li class="nav-drop__item"><a href="" class="nav-drop__link">Ліквідація підприємства</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="prices.html" class="nav-link">Ціни</a>
    </li>
    <li class="nav-item">
      <a href="contacts.html" class="nav-link">Контакти</a>
    </li>
    <li class="nav-item">
      <a href="posts.html" class="nav-link">Блог</a>
    </li>
  </ul>
  <ul class="nav-list ">   
<li class="nav-item">
  <div class="nav-button button border">Записатись на консультацію</div>
</li>
  <li class="nav-item button language">
  <div class="nav-button ">
  <div class="flag">
    <div class="rectangle-blue"></div>
    <div class="rectangle-yellow"></div>
  </div>
  
    Українська
    <svg class="nav-icon">
      <use href="../img/icons.svg#icon-arrow-down"></use>
    </svg>
    <ul class="nav-drop">
      <li class="nav-drop__item select"> 
        <div class="flag">
        <div class="rectangle-blue"></div>
        <div class="rectangle-yellow"></div>
      </div> 
      Українська
     
      <li class="nav-drop__item">  
        <svg class="nav-drop__flag ">
        <use href="../img/icons.svg#icon-flag_of_the_United_Kingdom"></use>
      </svg> English</li>
     
  
    </ul>
</div>
</li>
</nav>
