.edisputes {
  width: 1920px;
  padding-top: 148px;
  height: auto;
  margin: 0 auto;
}

.edisputes-title {
  margin-top: 44px;
  margin-bottom: 32px;
  color: var(--primary-text-color);
  font: var(--h-1);
  letter-spacing: -1.28px;
}
.edisputes-consultation {
  width: 1920px;
  margin: 0 auto;

  padding: 120px 0;
}
.edisputes-description__list {
  display: flex;
  gap: 143px;
}
.edisputes-description__item {
  width: 523px;
  height: 150px;
}
.edisputes-description__text {
  width: 100%;
  color: var(--primary-text-color);
  font: var(--regular-text);
  letter-spacing: 0.32px;
}
.primary {
  width: 633px;
}
.edisputes-img {
  width: 1299px;
  height: 333px;
  flex-shrink: 0;
  margin-top: 84px;
  margin-bottom: 56px;
}
.edisputes-subtitle {
  border-top: 1px solid var(--primary-text-color);
  padding-top: 56px;
  color: var(--primary-text-color);
  font: var(--h-2);
  letter-spacing: -0.48px;
  margin-bottom: 40px;
}
.edisputes-punct__list {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 40px;
}
.edisputes-punct__item {
  font: var(--accent-help-text);
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 24px;
  display: flex;
  gap: 16px;
}
.edisputes-punct__item + .edisputes-punct__item {
  padding-top: 24px;
}
.edisputes-punct__link {
  font: var(--accent-bold-help-text);
  color: var(--link-text-color);
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
}
.edisputes-punct__icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
.edisputes-wrap__punct {
  width: 100%;
}
.edisputes-specialize__wrap {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 98px;
  margin-bottom: 80px;
}

.edisputes-specialize__subtitle {
  font: var(--h-3);
  color: var(--primary-text-color);
  letter-spacing: 0.68px;
  font-weight: 500;
}
.edisputes-specialize__wraplist {
  display: flex;
  gap: 147px;
  align-items: start;
  /* width: 100%; */
}
.edisputes-specialize__list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 381px;
}
.edisputes-specialize__item {
  width: 412px;
  display: flex;
  align-items: start;
  gap: 32px;
}
.edisputes-specialize__icon {
  width: 40px;
  height: 40px;
  padding: 4px;
  stroke: var(--line-background-color);
  border: 1px solid var(--line-background-color);
}
.edisputes-specialize__text {
  width: 340px;
  font: var(--regular-text);
  color: var(--primary-text-color);
  letter-spacing: 0.32px;
}

.about-info {
  border-top: 1px solid var(--primary-text-color);
  padding-top: 63px;
  padding-bottom: 83px;
  display: flex;
  align-items: center;
}
.about-info__title {
  font: var(--h-2);
  color: var(--primary-text-color);
  letter-spacing: -0.48px;
  width: 457px;
}
.about-info__list {
  list-style-type: disc;
  list-style-position: inside;
  width: 856px;
  height: 148px;
  color: var(--primary-text-color);
}
.about-info__item {
  font: var(--accent-help-text);
}
.about-info__item + .about-info__item {
  margin-top: 20px;
}
.about-info__bold {
  font-weight: 700;
}
