.contact-wrap {
  width: 1920px;
  height: 40px;
  background-color: var(--secondary-background-color);
  margin: 0 auto;
}
.contact-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-list__item {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--secondary-text-color);
  font: var(--button-text);
}
.contact-list__link {
  display: flex;
  cursor: pointer;
  height: 100%;
  align-items: center;
  font: var(--link-text);
}
.contact-list_icon {
  margin-right: 8px;
  stroke: currentColor;
  fill: currentColor;
}
